- if (max > 1)
  ul.pagination
    li(class="#{prev ? '' : 'disabled'}")
      - if (prev)
        a(href="#{prev}")
          span.fa.fa-caret-left
      - else
        a(href="javascript: void(0);")
          span.fa.fa-caret-left

    - each link in links
      li(class="#{link.text == current ? 'active' : ''}")
        - if (link.href)
          a(href="#{link.href}") #{link.text}
        - else
          link.text

    li(class="#{next ? '' : 'disabled'}")
      - if (next)
        a(href="#{next}")
          span.fa.fa-caret-right
      - else
        a(href="javascript: void(0);")
          span.fa.fa-caret-right

- else
  .no-pagination
